<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title | Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="Content/img/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="~/Content/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Rupels only Soldat</h1>
                                <h6 class="tm-site-description">Ammo for Sale</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="@Url.Action("Index", "Home")" class="tm-nav-link active">Home</a></li>
                                <li class="tm-nav-li"><a href="@Url.Action("Index", "Ammos")" class="tm-nav-link">Ammo</a></li>
                                <li class="tm-nav-li"><a href="@Url.Action("Login", "Account")" class="tm-nav-link">Log</a></li>
                                <li class="tm-nav-li"><a href="@Url.Action("Contact", "Home")" class="tm-nav-link">Contact</a></li>
                                @*<li class="tm-nav-li">
                                        <span class="tm-nav-link">@Html.Partial("_LoginPartial")</span>
                                    </li>*@
                                @if (User.IsInRole("Admin"))
                                {
                                    <li tm-nav-li>
                                        <span class="opener">Admin</span>
                                        <ul tm-nav-ul>
                                            <li class="tm-nav-li"><a href="@Url.Action("Roles", "Index", "UsersAdmin")" class="tm-nav-link">User Admin</a></li>
                                            <li class="tm-nav-li"><a href="@Url.Action("Users", "Index", "Roles Admin")" class="tm-nav-link">Roles Admin</a></li>
                                            <li class="tm-nav-li"><a href="@Url.Action("Index", "Calibers")" class="tm-nav-link">Caliber</a></li>
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Dobro pozhalovat' v AAron's Ammo Shack Baby</h2>
                <p class="col-12 text-center">Log-In AND Pick YOUR POISON</p>
            </header>


            <!-- Gallery -->


        </main>
        @RenderBody()
        <div>
            <footer class="tm-footer text-center">
                <p>
                    Copyright &copy; 2020 Simple House

                    | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
                    Edited By Aaron Mayhew 2020
                </p>
            </footer>
        </div>
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/parallax.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


    @RenderSection("scripts", false)

</body>

</html>